name: Deploy

on:
  push:
    branches:
      - main
    paths-ignore:
      - scripts/**
      - README.md

jobs:
  data-pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Install
        run: |
          cd data-pipeline
          npm install

      - name: Deploy
        run: |
          cd data-pipeline
          npm run cdk deploy --require-approval=never